node_modules
.env
coverage
coverage.json
typechain
.vscode

#Hardhat files
cache
artifacts

# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/.session
.openzeppelin/unknown-*.json


#subgraph
services/graph-node/data
subgraph/subgraph.yaml
subgraph/generated
subgraph/abis/*
build